body {
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

h1 {
    color: #393979;
    font-weight: 800px;
    background-color: yellow;
}

h1, h3, h4 {
    text-align: center;
}

h3, h4 {
    background-color: lightgreen;
}

.image {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}